{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<style>
		h1 {
			text-align: center;
		}
	</style>
	<h1>Register</h1>
	{{ form_start(registrationForm) }}
		<div class="form-group">
        	{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
        	{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}, {
                	label: 'Password'
            	}) }}
		</div>
        <button type="submit" class="btn btn-info">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
